<div class='review-form'>
  <a class='close-form' href='javascript:closeForm()'>Close</a>
  <input type='hidden' id='faq_id'>
  <table>
    <tr>
      <td>
        Question:
      </td>
      <td>
        <input id='question' type='text' name='faq-question'>
      </td>
    </tr>
    <tr>
      <td>
        Answer:
      </td>
      <td>
        <textarea id='answer' rows=16 name='faq-answer'></textarea>
      </td>
    </tr>
    <tr>
      <td colspan=2><a class='submit' href='javascript:submitFaq()'>Submit</a></td>
    </tr>
  </table>
</div>
<ul class='nav nav-pills review-button'>
  <li><a href='javascript:openReviewForm()'>New</a></li>
  <li><a class='close-form' href='javascript:toggleRemove()'>Remove</a></li>
</ul>
<div class='reviews-container'>
  <ul id='faq-list' class='faq-list' >
    <% @faqs.each do |f| %>
      <li id='faq_<%= f.id %>'>
        <table>
          <tr>
            <td ><a class='remove-row' href='javascript:removeRow(<%= f.id %>)'><img src='/images/admin/close-button.png'/></a></td>
            <td id='q_<%= f.id %>' class='name'><%= f.question %></td>
            <td id='a_<%= f.id %>' class='message'><%= f.answer %></td>
          </tr>
        </table>
      </li>
    <% end -%>
  </ul>
</div>
<script>
$(document).ready(function() {
  $('.reviews-container li').each(function(index, li) {
    $(li).dblclick(function() {
      var tds = $(this).find('td');
      var id = $(this).attr('id').split('_')[1];
      $('#faq_id').val(id)
      $('#question').val($(tds[1]).html())
      $('#answer').val($(tds[2]).html())
      openReviewForm();
    });
  });
});

function openReviewForm() {
  $('.overlay')
    .css('height', $(document).height())
    .css('width', $(document).width())
    .fadeIn(200);
  $('.review-form')
    .css('left', ($(document).width() - 800)/2)
    .fadeIn(200);

}

function closeForm() {
  $('.overlay').fadeOut(200);
  $('.review-form').fadeOut(200);
}

function submitFaq() {
  params = {'question': $('#question').val(), 'answer': $('#answer').val()} 

  if ($('#faq_id').val() != '') {
    params['id'] = $('#faq_id').val();
  }

  $.ajax({
    url: '/admin/faq/upsert',
    data: params,
    type: 'POST',
    success: function() {
      closeForm();
      location.reload();
    }
  });
}

function removeRow(id) {
  $.ajax({
    url: '/admin/faq/deactivate',
    data: {'id' : id},
    success: function() {
      location.reload();
    }
  })
}

function toggleRemove() {
  $('.remove-row').each(function(index,row) { 
      $(row).toggle() 
  });
}
</script>
