<html>
  <head>
    <%= stylesheet_link_tag 'admin/login' %>
  </head>
  <body>
   <div class='login-container'>
     <div class='logo'></div>
     <div class='form'>
       <div class='title'>Administrative Portal</div>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
         <table>
           <tr>
             <td><%= f.label :email %></td>
             <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
           </tr>
           <tr>
             <td><%= f.label :password %></td>
             <td><%= f.password_field :password, autocomplete: "current-password" %></td>
           </tr>
           <tr>
             <td colspan=2><%= f.submit "Login" %></td>
           </tr>
         </table>
       <% end %>
     </div>
   </div>
  </body>
</html>

    

